@tailwind base;
@tailwind components;
@tailwind utilities;
/* Thin scrollbar */
::-webkit-scrollbar {
  width: 4px;              /* 👈 THIN */
}

::-webkit-scrollbar-track {
  background: transparent; /* no background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35); /* soft dark */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Serif:wght@600&display=swap');

.font-mont {
  font-family: 'Montserrat', sans-serif;
}

.font-noto {
  font-family: 'Noto Serif', serif;
}
